.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.inputGroup label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  color: #666;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.inputGroup input:focus {
  outline: none;
  border-color: #000;
}